<div class="col-xs-12">
  <a
  [routerLink]="[index]"
  routerLinkActive="text-danger"
    style="cursor: pointer"
    class="text-decoration-none"
  >
    <div class="card mb-4 text-black">
      <div class="row">
        <div class="col-md-8">
          <div class="card-body">
            <h2 class="card-title">{{ recipe.name }}</h2>
            <p class="card-text">{{ recipe.description }}</p>
          </div>
        </div>
        <div class="col-md-4">
          <img
            src="{{ recipe.imagePath }}"
            class="img-fluid"
            alt="{{ recipe.name }}"
          />
        </div>
      </div>
    </div>
  </a>
</div>
