<div class="row">
  <div class="col-xs-12">
    <form
      (ngSubmit)="onAddItem(shoppingListFormGroup)"
      #shoppingListFormGroup="ngForm"
    >
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label class="mb-2" for="name">Name</label>
          <input
            type="email"
            class="form-control"
            name="name"
            id="name"
            ngModel
            required
            aria-describedby="emailHelp"
            placeholder="Enter name"
          />
        </div>
        <div class="col-sm-2 form-group">
          <label class="mb-2" for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            name="amount"
            ngModel
            required
            id="amount"
            placeholder="Enter amount"
            pattern="^[1-9]+[0-9]*$"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="!shoppingListFormGroup.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            type="button"
            class="btn btn-danger me-2"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            type="button"
            class="btn btn-primary me-2"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
