<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row mb-3">
        <div class="col-sm-5 form-group">
          <label class="mb-2" for="name">Name</label>
          <input
            type="email"
            class="form-control"
            name="name"
            id="name"
            aria-describedby="emailHelp"
            placeholder="Enter name"
            #nameInput
          />
        </div>
        <div class="col-sm-2 form-group">
          <label class="mb-2" for="amount">Amount</label>
          <input
            type="number"
            class="form-control"
            name="amount"
            id="amount"
            placeholder="Enter amount"
            #amountInput
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success me-2" (click)="onAdd()" >Add</button>
          <button type="button" class="btn btn-danger me-2" >Delete</button>
          <button type="button" class="btn btn-primary me-2">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
